$maincolor : #0F172A;
$textcolor : yellow;

.navbar {
    background-color: $maincolor;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 26px;
    color: wheat;
}

.container p {
    width: 100%;
    color: $textcolor;
    text-align: center;
    font-weight: bold;
    font-size: 50px;
    padding: 15px 20px;
}