$textcolor: rgb(29, 31, 126);
$btn-bg: black;
$btn-hover-border: blue;

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: column;

  p {
    width: 100%;
    color: $textcolor;
    text-align: center;
    font-weight: bold;
    font-size: 50px;
    padding: 15px 20px;
  }
}

.btn {
  padding: 10px 12px;
  font-size: 20px;
  border-radius: 10px;
  width: 300px;
  background-color: $btn-bg;
  cursor: pointer;
  color: white;

  &:hover {
    border: 1px solid $btn-hover-border;
  }
}
