.home-container {
  text-align: center;
  padding: 20px;

  .home-title {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 20px;
    color: #333;
  }

  .products-grid {
    display: flex;
    width: 100%;
    justify-content:space-evenly;
    align-items: center;
    flex-wrap: wrap;
    margin: auto;
  }
}