body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: silver;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  background: #1a1a1a;
  color: white;
  font-size: 1.2rem;

  .navbar-title {
    flex: 1;
    text-align: center;
    font-weight: bold;
  }

  .cart-contain {
    display: flex;
    align-items: center;
    color: white;
    position: relative;

    .cart-icon {
      font-size: 1.8rem;
      cursor: pointer;
    }

    .cart-count {
      position: absolute;
      top: -5px;
      right: -10px;
      background: red;
      color: white;
      font-size: 0.9rem;
      width: 20px;
      height: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      font-weight: bold;
    }
  }
}