* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: silver;
}

.container {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.count {
    text-align: center;
    font-size: 30px;
    padding: 10px 0;
    font-weight: bold;
}

.btn {
    padding: 10px 12px;
    font-size: 20px;
    border-radius: 10px;
    width: 300px;
    background-color: black;
    cursor: pointer;
    color: white;
    font-family: inherit;

    &:hover {
        background-color: darkgray;
    }
}